body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    height: 2000px;
}
a {
    text-decoration: none;
    color: #222;
}
div {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 搜索模块 */
.search-index {
    display: flex;
    /* 固定定位跟父级没有关系，它以屏幕为准 */
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* 固定的盒子必须有宽度 */
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}
.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.search {
    position: relative;
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    flex: 1;
    margin: 7px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #666;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.user::before {
    display: block;
    content: "";
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 4px auto -2px;
}
.search::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;   
}
.focus {
    padding-top: 44px;
}
.focus img {
    width: 100%;
}
.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}
.local-nav li {
    flex: 1;
}
.local-nav li a {
    display: flex;
    height: 64px;
    flex-direction: column;
    justify-content: center;
    /* 侧轴居中对齐 单行 */
    align-items: center;
    font-size: 12px;
}
.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local-nav li [class$="2"] {
    background-position:0 -32px;
}
.local-nav li [class$="3"] {
    background-position:0 -64px;
}
.local-nav li [class$="4"] {
    background-position:0 -96px;
}
.local-nav li [class$="5"] {
    background-position:0 -128px;
}
/* 主导航栏 */
nav {
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
}
.nav-common {
    display: flex;
    height: 88px;
}
.nav-common:nth-child(2) {
    margin: 3px 0;
}
.nav-items {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.nav-items:nth-child(n+2) {
    border-left: 1px solid #fff;
}
.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0,0,0,.2);
}
.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a {
    border: none;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left,#fa5a55,#fa994d);
}
.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
.subnav-entry {
    display: flex;
    border-radius: 8px;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.subnav-entry li {
    /* 里面的子盒子可以写 % 相对于父级来说的 */
    flex: 20%;
}
.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry-icon {
    width: 28px;
    height: 28px;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;
    margin-top: 4px;
}
.subnav-entry li:nth-child(2) .subnav-entry-icon {
    background-position: 2px -30px;
}
.subnav-entry li:nth-child(3) .subnav-entry-icon {
    background-position: 0 -65px;
}
.subnav-entry li:nth-child(4) .subnav-entry-icon {
    background-position: 0 -100px;
}
.subnav-entry li:nth-child(5) .subnav-entry-icon {
    background-position: 0 -130px;
}
.subnav-entry li:nth-child(6) .subnav-entry-icon {
    background-position: 6px -163px;
}
.subnav-entry li:nth-child(7) .subnav-entry-icon {
    background-position: 0 -200px;
}
.subnav-entry li:nth-child(8) .subnav-entry-icon {
    background-position: 0 -228px;
}
.subnav-entry li:nth-child(9) .subnav-entry-icon {
    background-position: 0 -258px;
}
.subnav-entry li:nth-child(10) .subnav-entry-icon {
    background-position: 5px -288px;
}
.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}
.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
    background: url()
}
.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}
.sales-hd h2::after {
    position: absolute;
    top: 8px ;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.sales-hd .more {
    position: absolute;
    top: 0;
    right: 5px;
    background: -webkit-linear-gradient(left,#ff506c,#ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}
.sales-hd .more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.row {
    display: flex;
}
.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}
.row a:nth-child(1) {
    border-right: 1px solid #eee;
}
.row a img {
    width: 100%;
}
.ff {
    display: flex;
    height: 50px;
    margin: 10px 4px;
    background-color: #fff;
}
.ff .ft {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.fts {
    width: 20px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat -58px -152px;
    background-size: 104px auto;
}
.ft:nth-child(2) .fts {
    background-position: -58px -172px;
}
.ft:nth-child(3) .fts {
    background-position: -58px -310px;
}