ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: none;
}
body {
    background-color: #f5f5f5;
}
.container {
    background-color: #fff;
}
/* 因为本效果图采取1280px的宽度，为bootstrap里面container宽度最大位1170px，因此我们需要手动改下container宽度 */
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}
/* header */
.logo {
    background-color: #429ad9;
}
header {
    padding-left: 0!important;
}
.logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.logo span {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
}
.nav a:hover {
    background-color: #fff;
    color: #333;
}
.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}
@media screen and (max-width: 991px) {
    .nav li {
        float: left;
        width: 20%;
    }
    article {
        margin-top: 15px;
    }
}
@media screen and (max-width: 767px) {
    .nav li a {
        font-size: 14px;
        padding-left: 10px;
    }
    .news li {
        width: 50%!important;
    }
    .news li:nth-child(1) {
        width: 100%!important;
    }
    .publish h3 {
        font-size: 16px;
    }
}
.news li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.news li:nth-child(1) {
    width: 50%;
    height: 266px;
}
.news li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.news li a img {
    width: 100%;
    height: 100%;
}
.news li a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background: rgba(0,0,0,.5);
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 5px 10px;
}
.news li:nth-child(1) p {
    line-height: 41px;
    font-size: 20px;
    padding: 0 10px;
}
.publish {
    border-top: 1px solid #ccc;
}
.pic {
    margin-top: 10px;
}
.pic img {
    width: 100%;
}
.publish .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.banner img {
    width: 100%;
}
.hot {
    display: block;
    margin-top: 20px;
    padding: 0 20px 20px;
    border: 1px solid #ccc;
}
.hot span {
    border-radius: 0;
    margin-bottom: 20px;
}
.hot p {
    font-size: 12px;
}